<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Master-Detail Demo app</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" 
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [opened]="true" 
                [mode]="mobileQuery.matches ? 'over' : 'side'"
                [fixedInViewport]="mobileQuery.matches" 
                fixedTopGap="56">
      <app-repos-list (selectedRepo)="handleSelectedRepo($event)"></app-repos-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-repo-languages [repoName]="selectedRepoName"></app-repo-languages>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>