<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Master-Detail Demo app</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" 
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [(opened)]="opened" 
                [mode]="mobileQuery.matches ? 'over' : 'side'"
                [fixedInViewport]="mobileQuery.matches" 
                fixedTopGap="56">
      <app-repos-list (selectedRepo)="handleSelectedRepo($event)"></app-repos-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <h2 class="help-text">Click on the top-left Menu icon to select a Repo.</h2>
      <app-repo-languages [repoName]="selectedRepoName"></app-repo-languages>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>